<?xml version="1.0" encoding="UTF-8"?>
<?xml-model type="application/rss+xml" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
        <title>Watson</title>
        <description>Actualités</description>
        <link>{{url('home')}}</link>
        <atom:link href="http://www.watson.local/rss" rel="self" type="application/rss+xml" />
        {% for link in links %} 
        <item>
            <title>{{ link.title }}</title>
            <guid isPermaLink="true">{{app.request.getSchemeAndHttpHost()}}{{ path('link', { 'id': link.id }) }}</guid>           
            <description>{{link.desc}}</description>
        </item>
        {% endfor %}
    </channel>
</rss>